# *.pt
*~
# *.safetensors
*.err
*.out
*.json
__pycache__/
#*
slurm_out/
hfized/
quiptools/build/
quiptools/dist
hadaquant/csrc/build/
hadaquant/csrc/dist/

report*.nsys-rep
report*.sqlite

log*.txt
log*/
tmp/
*.png

eval/datasets/
test.py
*.zip
*.tar.gz
*.tar
.claude/
.venv/
